*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: #11296B;
}

h2 {
    color: #5e9183;
}

h3 {
    color: #11296b;
}

p {
    color: black;
}

#contenido {
    background-color: #ededed;
}

#fuente {
    font-family: 'Abel', sans-serif;
}

header {
    background-color: #d4f0bc;

}

.btnMenu {
    margin-right: 5px;
    font-size: 100%;
    text-decoration: none;

}

.logo {
    margin-left: 10%;
}

.menu {
    position: absolute;
    right: 20px;
    top: 30px;
    margin-right: 10%;
}

.menuFooter {
    margin-left: 15%;

}

.copiFooter {
    font-size: 95%;
    color: #ffffff;
    text-align: center;
}

.footer1 {
    background-color: #11296b;
}

/*
.header {
    width: 100%;
    height: 100px;
    background-color: #99D98C;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
}

.logo img {
    display: list-item;
    width: 150px;
}

.navigation ul{
    display: flex;
    list-style: none;
    font-size: 20px;
}

.navigation ul li a {
    margin: 10px;
    color: white;
    text-decoration: none;
} 

.navigation ul li a:hover {
    color: rgba(47, 46, 134, 0.61);
    transition: 0.2s;
}
*/

#main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: #99d98c40;
}

.contenedor {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 45px;
    padding: 20px;
}

.contenedor h3 {
    font-weight: 600;

}

form {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label input {
    background-color: #f3f3f4;
    border: 1px solid grey;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 15pt;
    transition: backgground-color 0.2s, border 0.2s, box-shadow 0.2s;
}

input:hover {
    border: 1px solid #99d98c;
}

input:focus{
    border: 1px solid #99D98C;
}

.opciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.checkbox {
    display: flex;
    flex-direction: row;
}

.checkbox h4 {
    font-weight: 400;
    font-size: 12px;
}

.opciones_contraseña {
    font-size: 12px;
}

.submit_boton:hover {
    opacity: 0.75;
    background-color: white;
    color: #99D98C;
    transition: 300ms;
    border: 1px solid #99d98c;
}

.botones {
    display: flex;
    flex-direction: column;
}

.submit_boton {
    background-color:  #99D98C;
    color: white;
    font-weight: 500;
    font-size: 14pt;
    text-align: center;
    padding: 14px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
}

.submit_boton:hover {
    opacity: 0.75;
}

.button_boton {
    background-color:  #99D98C;
    color: white;
    font-weight: 500;
    font-size: 14pt;
    text-align: center;
    padding: 14px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
}

.button_boton:hover {
    opacity: 0.75;
}


 /*
.footer1{
    background-color: #4a5063;
    padding: 20px;
}


.picture_footer {
    display: flex;
    flex-direction: row;
    width: 140px;
    height: 50px;
    cursor: pointer;
}

.menuFooter{
    margin-left: 15%;
    margin-bottom: 5px;
}

.copiFooter{
    font-size: 95%;
    color: #ffffff;
    text-align: center;
    margin-top: 5px;
}

*/



/* .footer1 {
    background-color: #4a5063;
    padding: 20px;
}

.footer2 {
    display: flexbox;
}

.picture_footer {
    display: flex;
    flex-direction: row;
}

.logo_footer {
    display: flex;
    flex-direction: row;
    width: 140px;
    height: 50px;
    cursor: pointer;
}

.footer_icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 3px;
    padding: 3px;
}

.footer_icons a img {
    display: flex;
    background-color: #4a5063;
    width: 30px;
    margin: 8px;
}

.copiFooter{
    font-size: 60%;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

 */